<template>
  <v-card>
    <template v-if="state === 'sent'">
      <v-card-title>Message sent</v-card-title>
      <v-card-text>
        <p>
          Thanks for your message, <strong>{{ name }}</strong>. I will get back
          to you as soon as possible.
        </p>
      </v-card-text>
    </template>
    <v-card-text v-else>
      <v-form ref="form">
        <v-row>
          <v-col>
            <v-text-field
              v-model="name"
              :counter="20"
              :rules="nameRules"
              label="Name"
              required
            ></v-text-field>
            <v-text-field
              v-model="email"
              :rules="emailRules"
              label="Email"
              required
            ></v-text-field>
            <v-text-field
              v-model="phone"
              :phoneRules="emailRules"
              label="Phone (optional)"
            ></v-text-field>
          </v-col>
          <v-col>
            <v-textarea
              v-model="message"
              :rules="messageRules"
              label="Message"
              required
            ></v-textarea>
          </v-col>
        </v-row>

        <div class="d-flex flex-column justify-end">
          <v-btn
            size="large"
            color="success"
            class="self-end mt-4"
            @click="validate"
          >
            Send Message
          </v-btn>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
  export default {
    setup: () => {},
    data: () => ({
      name: "",
      message: "",
      phone: "",
      email: "",
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 20) || "Name must be less than 10 characters",
      ],
      emailRules: [
        (v) => !!v || "Email is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      phoneRules: [],
      messageRules: [(v) => !!v || "Message is required"],
      state: null,
    }),

    methods: {
      async validate() {
        const { valid } = await this.$refs.form.validate();

        if (valid) {
          const { data, error } = useFetch("/api/email", {
            method: "post",
            body: {
              name: this.name,
              message: this.message,
              email: this.email,
              phone: this.phone,
            },
          });

          // TODO: error validation
          this.state = "sent";

          this.$refs.form.reset();
        }
      },
    },
  };
</script>
<style lang="scss"></style>
