@use "vuetify"

#preload
  display: none

body
  background-image: url('/bg.jpg') !important
  background-color: #cde !important
  background-position: top center !important
  background-attachment: fixed !important
  background-repeat: no-repeat !important
  background-size: 100% !important

.v-application
  background: none !important
