<template>
  <v-container>
    <v-container class="fill-width text-center text-white">
      <!-- <v-img -->
      <!--   align="center" -->
      <!--   src="/me-200.jpg" -->
      <!--   class="center rounded-circle" -->
      <!--   width="200" -->
      <!-- /> -->
      <div class="title">Adam Neeley</div>
      <div class="tagline">Web Developer</div>
    </v-container>

    <!-- <v-card> -->
    <!--   <v-card-text> Welcome </v-card-text> -->
    <!-- </v-card> -->
    <div id="projects" class="text-h4">Projects</div>
    <v-container class="section">
      <v-card elevated v-for="( project, i ) in projects" :key="i">
        <v-card-title class="d-flex flex-row">
          <div class="text-h5">{{project.name}}</div>
          <v-spacer />
          <v-chip class="ml-2" v-for="tag in project.tags" :key="tag"
            >{{tag}}</v-chip
          >
        </v-card-title>
        <v-card-text>{{project.desc}}</v-card-text>
        <div class="ma-2 d-flex flex-row">
          <v-btn
            v-if="project.info && project.info.length > 0"
            flat
            @click="showProject[i] = !showProject[i]"
            size="large"
          >
            <v-icon
              start
              :icon="showProject[i] ? 'mdi-chevron-up' : 'mdi-chevron-down'"
            />
            More
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            v-if="project.link"
            size="large"
            class="bg-primary"
            :href="project.link"
          >
            <v-icon start size="large" icon="mdi-link" class="pl-2" />
            {{project.name}}</v-btn
          >
          <v-btn
            v-if="project.source"
            size="large"
            outline
            class="bg-secondary"
            :href="project.source"
          >
            <v-icon start size="large" icon="mdi-code-tags" class="pl-2" />
            {{project.name}}</v-btn
          >
        </div>
        <div v-if="showProject[i]">
          <div
            class="pa-4 bg-grey-lighten-2"
            v-for="info in project.info"
            :key="info.title"
          >
            <div class="font-weight-bold info-title">{{info.title}}</div>
            <div class="info-text" v-html="info.text" />
          </div>
        </div>
      </v-card>

      <div id="contact" class="text-h4">Contact</div>
      <contact-form />
    </v-container>
  </v-container>
</template>

<script lang="ts" setup>
  import { ref } from "vue";
  import ContactForm from "@/components/ContactForm.vue";

  interface Info {
    title: string;
    text: string;
  }
  interface Project {
    name: string;
    desc: string;
    info?: Info[];
    link?: string;
    source?: string;
    tags: string[];
  }
  const projects: Project[] = [
    {
      name: "Octogod",
      desc: "Octogod is a personal project that is actively being developed. It is based on the teachings of a Western esoteric tradition called The Hermetic Order of the Golden Dawn You are invited to try it out while it's under construction.",
      link: "https://octogod.vercel.app",
      tags: ["vue", "typescript"],
      info: [
        {
          title: "The Hermetic Order of The Golden Dawn",
          text: "The Hermetic Order of the Golden Dawn is considered to be the most influential occult order of the 20th century.",
        },
      ],
    },
    {
      name: "Dotfiles",
      desc: "Dotfiles are configuration files on Linux and other UNIX-based systems. Here are some of mine, powered by NixOS.",
      source: "https://gitlab.com/monadam/dotfiles",
      info: [
        {
          title: "What is NixOS?",
          text: "NixOS is a distribution of Linux that is powered by the Nix language and package system. Without getting into details, Nix is a functional language. Unlike “functions” in many other languages, nix functions are functions in the mathematical sense. That is, for every input it returns exactly one output, and it returns this same output every time. This has many benefits: <ul><li>Reverting to a previous state if something breaks. This allows users to confidently tinker with their system, knowing that everything can easily be reverted.</li><li>Manage multiple machines running NixOS from a single configuration.</li><li>Installing a completely custom Linux system (including all the programs) on a new machine very quickly.</li></ul>",
        },
      ],
      tags: ["nix", "linux"],
    },
    {
      name: "Numerical Analysis",
      desc: "These are some of my homework assignments for my Numerical Analysis class. They are written in Haskell and MATLAB.",
      source: "https://gitlab.com/monadam/numerical-analysis",
      tags: ["haskell", "matlab"],
    },
    {
      name: "Book Prices",
      desc: "This is some code I wrote a while back to estimate the market value of a collection of books by scraping data from various e-commerce websites.",
      source: "https://gitlab.com/monadam/book-prices",
      tags: ["nextjs", "webscraping"],
    },
  ];

  let showProject = ref(projects.map((_) => false));
</script>

<style lang="sass">
  .v-container.section
    margin: 0 !important
    padding: 0 !important
  .v-app-bar-title
    color: #333
  .brand
    color: #369
    font-style: italic
  .v-card
    border-radius: 10px !important
  .tagline
    color: #888
    font-size: 1.2em
  .title
    color: #eee
    font-size: 3em
    // line-height: 3em
    text-shadow: 3px 3px 3px #3339 !important

  .text-h1
    margin: 40px 0
  .text-h4
    margin:  40px 0 20px 0 !important
    color: #eee
    text-shadow: 2px 2px 2px #333c !important
  .text-h3, .text-subtitle-1
    color: #eee
    text-shadow: 2px 2px 2px #333 !important
  .v-card-title
    // margin: 40px 0 20px 0
    color: #777
    font-weight: bold
    letter-spacing: 2px !important
    // text-shadow: 2px 2px 2px #333
    font-size: 1.0em !important
    line-height: 1.8em !important
  .v-card
    margin-top: 20px !important
    &:first-child
      margin: 0 !important
  .v-card-text
    font-size: 1.2em !important
    line-height: 1.8em !important
    color: #444
    p
      margin-top: 12px
    p:first-child
      margin: 0
  .info-title
    font-size: 0.8em
    line-height: 1.8em
  .info-text
    font-size: 0.8em
    line-height: 1.8em
    ul
      padding-left: 32px
    li
      padding-left: 12px
  .v-chip
    font-size: 0.8em !important
</style>
